.albTitle{
  display:inline-block;
  border-radius: 8px;
  border : 1px solid;
  margin: 5px;
  padding:0;
  overflow: hidden;
  height:120px;
  width: 120px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;

}

.albName{
  margin:0px;
  padding:0px 5px ;
  font-size:small;
  border-bottom: 1px black solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color:#74CB94;
  height:1.5em;
  overflow:hidden;
}


a{ 
 text-decoration:none;  
 font-style:normal;
 color:#0EBC74;;
}

.albTitle a{
  color:#DDF8DE;
}




img.albTitle{
  margin:0;
}


.albomField{
  margin: 10px;
  vertical-align:top;
  display:inline-block;
  float:left;
}


.albPhoto{
  display:inline-block;
  margin: 5px;
  width:160px;
  text-align:center;
}

.albPhoto img{
 border-radius: 5px;
 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
 box-sizing: border-box;
 vertical-align:middle;
}


.mainMenu{
  margin:0px;
  background-color:#7DEBB3;
  position:fixed;
  top:0;
  width:100%;
  line-height: 2;
  z-index:10;
  border-bottom: 1px #CCC solid;
}

.mainMenu a{
  font-style:normal;
  color:#0EBC74;
}

.mainMenu a:hover{
  color:#FFF;
  background-color:#4F9571;
  border-radius: 5px;
}

.menuHeader{
  display: inline;
  margin-left: 50px;
  background-color:#76DEA9;
  padding: 3px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 4px;
}

.albLoc{
  display:inline;
  margin-left:20px;
}

.rightMenu{
  display: inline-block;
  float:right;
  padding-right:30px;
}

.settings{
  display: inline;
  border-radius: 3px;
  border: 1px solid #0EBC74;
  background-color:#76DEA9;
  padding-left:5px; 
  padding-right:5px;
}

body{
 font-family: "Fira Sans","Source Sans Pro",Helvetica,Arial,sans-serif;
 padding:0px;
 margin:0px;
 background-color:#EBF8E8; 
 margin-top:2em;
}

html{height:100%}

h2{
  margin-top: 0px;
  border: 1px gray dotted;
  border-radius: 5px;
  text-align:center;
}

.navi{
  display: inline;
  vertical-align:top;
  font-size: 700%;
}

.pic {
    display: inline;
}

#setup{
  display:none;
  height:300px; 
  width: 300px;
  border: 1px solid #0EBC74;
  float:right;
  margin-right:20px;
  background-color:#74CB94;
  padding-left:10px; 
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;

}

#ftpServer,#ftpUser,#ftpPass
{
    width: 90%;
}

button{
  background-color:#87F337;
}

input{
  background-color:#EBF8E8;
}
